<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-sm-6 p-2" *ngFor="let cart of cartArray">
      <div class="card" style="width: 18rem">
        <h1 class="card-title text-center">{{ cart.name }}</h1>
        <div class="card-body">
          <p class="card-title">id:{{ cart.id }}</p>
          <p class="card-text">sku :{{ cart.sku }}</p>
          <p class="card-text">price :{{ cart.price }}</p>
        </div>
        <div class="p-2 d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteProduct(cart.cartId)"
          >
            Remove from cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
